# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/alzahra-workshop-spr2021/blob/main/lecture/jupyter.png?raw=true">

In [19]:
# kernels

In [18]:
# hotkey

In [20]:
x = 3 # first number
# comment

In [ ]:
# markdown

Hi, This is markdown cell!

$ \alpha = \beta = \frac{\alpha}{\sqrt{\beta}} $

# <center> Basic

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [3]:
2 + 4

6

In [6]:
6 - 4

2

In [7]:
5 * 3

15

In [8]:
5/3

1.6666666666666667

In [9]:
5 % 3

2

In [10]:
5 // 3

1

In [11]:
5 ** 3

125

In [12]:
5 + ( 4 - 3 * 2)**3 + 1

-2

In [13]:
a = 5 + ( 4 - 3 * 2)**3 + 1

In [14]:
a

-2

In [15]:
a + 2

0

In [16]:
a

-2

In [17]:
a = a + 2

In [18]:
a

0

In [21]:
b = 100
b = 20
b = b*2
b = b - 15
# b = 10

print(b)

25

In [22]:
x = 2
y = 6

In [23]:
print(x+y)

8

In [24]:
print(x-y)

-4

In [26]:
print(x*y)
print(x/y)
print(x//y)

12
0.3333333333333333
0

In [27]:
print(x%y)

2

In [159]:
a = -125
print(a)

-125

In [163]:
abs(a)

125

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [28]:
x = 2
y = 6

In [31]:
print(x==y)
print(x==2)
print(x!=y)

False
True
True

In [35]:
print(x>y)
print(x>2)
print(x>=2)

False
False
True

In [36]:
x > 1 and y < 10

True

In [37]:
x > 1 and y > 10

False

In [38]:
x > 1 or y > 10

True

In [39]:
1 < x < 3

True

## Type
| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [40]:
type

type

In [41]:
type(123)

int

In [42]:
a = 'economics'

In [43]:
a

'economics'

In [44]:
type(a)

str

In [48]:
print(type(a))
print(type(123))
print(type(1.56))
print(type(False))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [62]:
x = 2.8
print(x)
type(x)

2.8

float

In [63]:
int(x) * 2

4

In [54]:
x = 45
type(x)

int

In [60]:
float(x) * 2

90.0

In [56]:
a = "python course"
print(a)

python course

In [57]:
type(a)

str

In [58]:
a * 2

'python coursepython course'

In [64]:
print(a)

python course

In [65]:
a.capitalize()

'Python course'

In [66]:
s1 = 'Hi, this is python course!'
s2 = "It's good to see you here!"
print(s1)
print(s2)

Hi, this is python course!
It's good to see you here!

In [70]:
s1.count("i")

3

In [75]:
s1.find('p')

12

In [77]:
'-'.join(['1','2','3','4','5','Saeed'])

'1-2-3-4-5-Saeed'

In [80]:
s3 =  s1.upper()
print(s3)

HI, THIS IS PYTHON COURSE!

In [81]:
s1.lower()

'hi, this is python course!'

In [83]:
s1.replace('H', 'M')

'Mi, this is python course!'

In [84]:
s1.replace('python', 'economics')

'Hi, this is economics course!'

In [85]:
print(s1)

Hi, this is python course!

In [87]:
s1.split(',')

['Hi', ' this is python course!']

In [88]:
s1.split(' ')

['Hi,', 'this', 'is', 'python', 'course!']

In [89]:
n1 = 'abcd'
n2 = "zxcv"

In [92]:
n1 * 2

'abcdabcd'

In [93]:
n1 + n2

'abcdzxcv'

In [94]:
s1 + s2

"Hi, this is python course!It's good to see you here!"

In [98]:
type('')

str

## List

In [95]:
# [ , , , , , ]
x = [1,2,3,4,5,6,7,8,9,10]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
type(x)

list

In [97]:
type([])

list

In [100]:
x[4]

5

In [102]:
x[-3]

8

In [103]:
x[3:6]

[4, 5, 6]

In [104]:
x[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [106]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [108]:
x[:5]

[1, 2, 3, 4, 5]

In [110]:
x[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [112]:
x[1:7]

[2, 3, 4, 5, 6, 7]

In [113]:
# [<begin> : <end> : <step>]
x[1:7:2]

[2, 4, 6]

In [117]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [118]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [119]:
x*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [121]:
x + [4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [123]:
y = [1,2,3,4,5]
print(y)

[1, 2, 3, 4, 5]

In [124]:
y.append(6)
y

[1, 2, 3, 4, 5, 6]

In [125]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [126]:
x.clear()
x

[]

In [127]:
y

[1, 2, 3, 4, 5, 6]

In [128]:
# remove
# pop

In [129]:
y.remove(2)  # number
y

[1, 3, 4, 5, 6]

In [130]:
y.pop(0) # index
y

[3, 4, 5, 6]

In [131]:
y.pop(-1)
y

[3, 4, 5]

In [133]:
y.append(8)

In [134]:
y

[3, 4, 5, 3, 8]

In [136]:
y.reverse()
y

[8, 3, 5, 4, 3]

In [137]:
y[::-1]

[3, 4, 5, 3, 8]

## Dictionary

In [138]:
type({})

dict

In [139]:
# { : , : , : , : }
score = {"math": 19 , "lit": 18.5 , "gio": 12 , "econ": 17 }
print(score)

{'math': 19, 'lit': 18.5, 'gio': 12, 'econ': 17}

In [140]:
type(score)

dict

In [141]:
score['math']

19

In [143]:
print(score['econ'])

17

In [144]:
score.keys()

dict_keys(['math', 'lit', 'gio', 'econ'])

In [145]:
score.values()

dict_values([19, 18.5, 12, 17])

#### Other type

In [146]:
v = (1,2,3,4)
print(v)
type(v)

(1, 2, 3, 4)

tuple

In [147]:
v[3]

4

In [148]:
#tuple
set

set

In [168]:
a = float(input("Enter yout number: "))
a

Enter yout number: 45

45.0